html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;

}
.image {
    height: 30vw;
    width: 55vw;
}
#sidebar {
    position: fixed;
    width: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 30px;
    line-height: 65px;
    margin-right: 15px;
}
#sidebar a {
    color: white;
}
#home {
    background-color: #00B2EE; 
    height: 100%; 
    width: 100%;
    font-size: 8vw;
    line-height: 8vw;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;  
    position: relative;  
}
.homedetails {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    
}
.homename {
    margin-right: 1vw;
    text-align: right;
}
.hometext {
    height: 18vw;
    width: 30vw;
    font-size: 4vw;
    line-height: 3.8vw;
    position: relative;
    border-left: 2px solid white;
    padding: 1vw;
}
.homelist {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    list-style-type: none;
}
#about {
    background-color: white; 
    height: 100%; 
    width: 100%;
    font-size: 8vw;
    line-height: 8vw;
    color: #004385;
    font-family: 'Archivo Narrow', sans-serif;  
    position: relative;  
}
.aboutdetails {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}
.aboutquarter {
    position: relative;
    height: 20vw;
    width: 35vw;
}
.aboutquarter2 {
    position: absolute;
    height: 20vw;
    width: 25vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#quote {
    border-bottom: 2px solid #c4e8ef;
    border-right: 2px solid #c4e8ef;
    font-size: 3vw;
    line-height: 3.5vw;
}
.quotedetails {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 100%;
}
#languages {
    border-top: 2px solid #c4e8ef;
    border-left: 2px solid #c4e8ef;
}
.languagedetail {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 100%;
    text-align: center;
}
.languagelist {
    list-style-type: none;
    font-size: 10vw;
    line-height: 2vw;
}
#space {
    border-left: 2px solid #c4e8ef;
    border-bottom: 2px solid #c4e8ef;    
}
#icons {
    border-top: 2px solid #c4e8ef;
    border-right: 2px solid #c4e8ef;
    
}
.aboutrow {
    display: flex;
}

#projects {
    background-color: #c4e8ef; 
    height: 100%; 
    width: 100%;
    font-size: 8vw;
    line-height: 8vw;
    color: #004385;
    font-family: 'Archivo Narrow', sans-serif;  
    position: relative;  
}
.projecttitle {
    position: absolute;
    font-size: 6vw;
    margin-top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 10px;
}
.carousel {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay {
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: black;
}
.left-icon {
    font-size: 3vw;
    color: #004385;
}
.left-icon:hover {
    color: #013c74;
}
.right-icon {
    font-size: 3vw;    
    color: #004385;
}
.right-icon:hover {
    color: #013c74;
}

.carousel-indicators li{
    background-color: #c4e8ef;
}
.carousel-indicators .active {
    background-color: #004385;
}
#homeLogo.blue {
    color: #00B2EE;
}
#aboutLogo.blue {
    color: #00B2EE;
}
#projectLogo.blue {
    color: #00B2EE;
}
#thankLogo.blue {
    color: #00B2EE;
}
#homeLogo.blue2 {
    color: #004385;
}
#aboutLogo.blue2 {
    color: #004385;
}
#projectLogo.blue2 {
    color: #004385;
}
#thankLogo.blue2 {
    color: #004385;
}