body {
    font-family: 'Josefin Slab', serif;
}
.nav {
    padding-top: 30px;
    font-size: 24px;
    padding-left: 30px;
}
.nav a {
    color: #272d2d;
}
#home {
    background-color: #Edf5fc;
}
#about {
    background-color: #B8c5d6;
}
#projects {
    background-color:#a39ba8;
}
#contact {
    background-color: #23ce6b;
}
.nav-pills .nav-link.active,.nav-pills .show > .nav-link {
    background-color: rgba(217, 223, 238, 0.1);
    color: #272d2d;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bg {
    height: 800px;
}

.break {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 50px;
}

@keyframes first {
    from {transform: scale(2,2); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
}
h1 {
    font-size: 90px;
    font-weight: bold;
}
#description {
    font-size: 24px;
}
.smallSwirl {
    height: 50px;
    width: 50px;
}
.centerStuff {
    display: block;
}
.bigIcon {
    font-size: 500px;
}
.social-media {
    display: inline-flex;
    font-size: 30px;
}
div.social-media a {
    padding-right: 10px;
    color:#272d2d;
}

div.social-media a:hover {
    color: #272d2d;
}